@charset "utf-8";
html,
body,
#app {
  font-size: 14px;
  color: $text-color;
  // line-height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', Helvetica, Arial, 'Hiragino Sans GB', 'Source Han Sans',
    'Noto Sans CJK Sc', 'Microsoft YaHei', 'Microsoft Jhenghei', sans-serif;
  font-smoothing: antialiased;
}
a {
  text-decoration: none;
  color: $text-color;
}
// #nprogress {
//   .bar {
//     position: absolute !important;
//     top: 43px !important;
//     height: 3px !important;
//   }
//   .peg {
//     box-shadow: none !important;
//   }
//   .spinner{
//     position: absolute !important;
//   }
// }

.icon-coment{
  margin-right: 5px;
}